<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--Shorthand way of getting the install directory-->
  <?define GUI_TargetDir=$(var.GUI.TargetDir)?>

  <!--Product compiles into an msi file. Only one can be present.-->
  <!--Version needs to be replaced automatically-->
  <Product Id="*" Name="MetaMorpheus" Language="1033" Version="!(bind.FileVersion.MetaMorpheusGUI.exe)" Manufacturer="Smith Group" UpgradeCode="438ad6ff-f027-423a-ab0b-c73384c0e2e5">
    <!--Properties about the package to be placed in the Summary Information Stream.-->
    <!--These are visible from COM through the IStream interface, and these properties can be seen on the package in Explorer.-->
    <Package Id="*" InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallValidate" DowngradeErrorMessage="A newer version of MetaMorpheus is already installed."/>

    <Condition Message="This application is only supported on Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <Condition Message="This application requires 64-bit windows">
      <![CDATA[Installed OR VersionNT64]]>
    </Condition>
    <MediaTemplate EmbedCab="yes"/>

    <!--A feature for the Feature table. Features are the smallest installable unit.-->
    <Feature Id="ProductFeature" Level="1">
      <!-- ComponentGroupRef creates a reference to a ComponentGroup in another Fragment-->
      <ComponentGroupRef Id="ExecutablesAndLibrariesComponentGroup" />
      <!--ComponentRef creates a reference to a Component element in another Fragment-->
      <ComponentRef Id="MetaMorpheusProgramMenuFolderComponent"/>
      
      <!--App Data Section-->
      <ComponentGroupRef Id="Appsrc_Mods_files"/>
      <ComponentGroupRef Id="Appsrc_Data_files"/>
      <ComponentGroupRef Id="Appsrc_ProteolyticDigestion_files" />
      <ComponentGroupRef Id="Appsrc_Contaminants_files"/>
      <ComponentGroupRef Id="ExcelDefaults"/>
      <ComponentRef Id="RemoveApp"/>
      <ComponentRef Id="DesktopShortcut"/>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--Desktop Shortcut Installation-->
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="DesktopShortcut" Guid="ef1fd292-b162-4990-80cb-cd2a0c839d4b">
          <Condition>INSTALLDESKTOPSHORTCUT</Condition>
          <RegistryKey Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="MetaMorpheusDeskTop" Value="1" Type="integer" KeyPath="yes"/>
          </RegistryKey>
          <Shortcut Id="AppDeskTopSC" Name="MetaMorpheus" Description="Shortcut to App" Target="[#MetaMorpheusGUI.exe]" WorkingDirectory="MetaMorpheusInstallFolder" />
        </Component>
      </Directory>
      
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="MetaMorpheusInstallFolder" Name="MetaMorpheus">
          <Directory Id="DataFolder" Name="Data" />
          <Directory Id="ModsFolder" Name="Mods" />
          <Directory Id="ProteolyticDigestionFolder" Name="ProteolyticDigestion" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MetaMorpheusProgramMenuFolder" Name="MetaMorpheus" />
      </Directory>
      <Directory Id="LocalAppDataFolder">
        <Directory Id="MetaMorpheusAppFolder" Name="MetaMorpheus">
          <Component Id="RemoveApp" Guid="a5443b89-65b0-4855-b521-e7bcc9c5a85c">
            <RemoveFolder Id="MetaMorpheusAppFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Directory Id="MetaAppDataFolder" Name="Data" />
          <Directory Id="MetaAppModsFolder" Name="Mods" />
          <Directory Id="MetaAppProteolyticDigestionFolder" Name="ProteolyticDigestion" />
          <Directory Id="MetaAppContaminantsFolder" Name="Contaminants" />
        </Directory>
      </Directory>
    </Directory>

    <UI>
      <UIRef Id="WixUI_Mondo"/>
      <UIRef Id="newDlg"/>
      <UIRef Id="MyMaintenance"/>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="MetaSCDlg" Order="1">1</Publish>
      <Publish Dialog="MetaSCDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="1">1</Publish>
      <Publish Dialog="MetaSCDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MetaSCDlg" Order="1">1</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MyMaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MyMaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" Order="1">1</Publish>
      <!--<Publish Dialog="MyMaintenanceTypeDlg" Control="Next" Event="NewDialog" Value="ExitDialog" Order="1">1</Publish>-->
      <Publish Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <CustomAction Id='LaunchFile' FileKey='MetaMorpheusGUI.exe' ExeCommand='' Return="asyncNoWait" />
    <Property Id="OVERWRITEAPPDATA" Value="1" />
    <Property Id="WIXUI_MONDO" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch MetaMorpheus" />
    <Property Id="WixShellExecTarget" Value="[#MetaMorpheusGUI.exe]" />
    <Property Id="EXCELDEFAULTPROPERTY"/>
    <Property Id="EXCELSELECT" Value="1">
      <RegistrySearch Id="CheckFileDir" Root="HKCR" Key="Excel.Backup\shell\Open\command" Type="file">
        <FileSearch Name="EXCEL.exe"/>
      </RegistrySearch>
    </Property>
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
  </Product>

  <!--Executables and libraries-->
  <Fragment>
    <ComponentGroup Id="ExecutablesAndLibrariesComponentGroup" Directory="MetaMorpheusInstallFolder">
      <Component Id="MetaMorpheusGUI.exe" Guid="63370d96-1880-40ab-8525-685ccf64326f">
        <File Id="MetaMorpheusGUI.exe" Name="MetaMorpheusGUI.exe" Source="$(var.GUI_TargetDir)MetaMorpheusGUI.exe" />
      </Component>
      <Component Id="app.manifest" Guid="d894958a-07c1-4078-9e0e-081a6cc29030">
        <File Id="app.manifest" Name="app.manifest" Source="$(var.GUI_TargetDir)app.manifest" />
      </Component>
      <Component Id="src_TaskLayer.pdb" Guid="6ece566a-22ff-4208-bba2-ad0430eeee49">
        <File Id="src_TaskLayer.pdb" Name="TaskLayer.pdb" Source="$(var.GUI_TargetDir)TaskLayer.pdb" />
      </Component>
      <Component Id="src_OxyPlot.pdb" Guid="3F982909-8946-42BA-BE24-5779A1E1D4BF">
        <File Id="src_OxyPlot.pdb" Name="OxyPlot.pdb" Source="$(var.GUI_TargetDir)OxyPlot.pdb" />
      </Component>
      <Component Id="src_OxyPlot.Wpf.pdb" Guid="68D2F3AF-CD98-4CEB-BA50-59B6ABA74B4A">
        <File Id="src_OxyPlot.Wpf.pdb" Name="OxyPlot.Wpf.pdb" Source="$(var.GUI_TargetDir)OxyPlot.Wpf.pdb" />
      </Component>
      <Component Id="src_Newtonsoft.Json.dll" Guid="7001FD86-E768-4C32-9747-0AB44A5A3DE9">
        <File Id="src_Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.GUI_TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="src_UsefulProteomicsDatabases.dll" Guid="e7f76fbf-d21c-4e57-bed4-33f71822ee18">
        <File Id="src_UsefulProteomicsDatabases.dll" Name="UsefulProteomicsDatabases.dll" Source="$(var.GUI_TargetDir)UsefulProteomicsDatabases.dll" />
      </Component>
      <Component Id="src_TaskLayer.dll" Guid="7d468a75-d294-432e-bd59-8fcf1e254486">
        <File Id="src_TaskLayer.dll" Name="TaskLayer.dll" Source="$(var.GUI_TargetDir)TaskLayer.dll" />
      </Component>
      <Component Id="src_MetaMorpheusGUI.exe.config" Guid="929da846-1537-40ba-b615-2335b32cadb1">
        <File Id="src_MetaMorpheusGUI.exe.config" Name="MetaMorpheusGUI.exe.config" Source="$(var.GUI_TargetDir)MetaMorpheusGUI.exe.config" />
      </Component>
      <Component Id="src_Chemistry.dll" Guid="bd4869a2-82a3-4d52-97b7-888881ae1827">
        <File Id="src_Chemistry.dll" Name="Chemistry.dll" Source="$(var.GUI_TargetDir)Chemistry.dll" />
      </Component>
      <Component Id="src_EngineLayer.dll" Guid="ebfe6a93-fdc4-4cff-a510-ff516e532d50">
        <File Id="src_EngineLayer.dll" Name="EngineLayer.dll" Source="$(var.GUI_TargetDir)EngineLayer.dll" />
      </Component>
      <Component Id="src_EngineLayer.pdb" Guid="8f9592a4-02b1-4462-a259-f7aa41d890a4">
        <File Id="src_EngineLayer.pdb" Name="EngineLayer.pdb" Source="$(var.GUI_TargetDir)EngineLayer.pdb" />
      </Component>
      <Component Id="src_FlashLFQ.dll" Guid="69e33379-5301-49db-8913-4d777ed5a5f9">
        <File Id="src_FlashLFQ.dll" Name="FlashLFQ.dll" Source="$(var.GUI_TargetDir)FlashLFQ.dll" />
      </Component>
      <Component Id="src_MassSpectrometry.dll" Guid="d6241678-3d48-4c7a-becf-9c1160fbe06b">
        <File Id="src_MassSpectrometry.dll" Name="MassSpectrometry.dll" Source="$(var.GUI_TargetDir)MassSpectrometry.dll" />
      </Component>
      <Component Id="src_MathNet.Numerics.dll" Guid="dea92905-719e-48e1-8a64-e845dca06dac">
        <File Id="src_MathNet.Numerics.dll" Name="MathNet.Numerics.dll" Source="$(var.GUI_TargetDir)MathNet.Numerics.dll" />
      </Component>
      <Component Id="src_MetaMorpheusGUI.pdb" Guid="bf568e2b-42c1-4209-9f45-11a3af86110a">
        <File Id="src_MetaMorpheusGUI.pdb" Name="MetaMorpheusGUI.pdb" Source="$(var.GUI_TargetDir)MetaMorpheusGUI.pdb" />
      </Component>
      <Component Id="src_mzIdentML.dll" Guid="cb1200d2-2356-4664-8968-bff79c83eeac">
        <File Id="src_mzIdentML.dll" Name="mzIdentML.dll" Source="$(var.GUI_TargetDir)mzIdentML.dll" />
      </Component>
      <Component Id="src_MzLibUtil.dll" Guid="9475fcb2-63bd-490c-8441-17a1760869ac">
        <File Id="src_MzLibUtil.dll" Name="MzLibUtil.dll" Source="$(var.GUI_TargetDir)MzLibUtil.dll" />
      </Component>
      <Component Id="src_MzML.dll" Guid="40c12490-638a-41b9-9e0c-05e949236a5a">
        <File Id="src_MzML.dll" Name="MzML.dll" Source="$(var.GUI_TargetDir)MzML.dll" />
      </Component>
      <Component Id="src_NetSerializer.dll" Guid="9eddc340-0dcb-415a-85f4-322f0eaeee4b">
        <File Id="src_NetSerializer.dll" Name="NetSerializer.dll" Source="$(var.GUI_TargetDir)NetSerializer.dll" />
      </Component>
      <Component Id="src_Nett.dll" Guid="656c78ef-0234-4e45-957c-a6dd6fff044f">
        <File Id="src_Nett.dll" Name="Nett.dll" Source="$(var.GUI_TargetDir)Nett.dll" />
      </Component>
      <Component Id="src_Nett.pdb" Guid="68030b29-c0fe-4287-9b7b-aa07f0cc153a">
        <File Id="src_Nett.pdb" Name="Nett.pdb" Source="$(var.GUI_TargetDir)Nett.pdb" />
      </Component>
      <Component Id="src_pepXML.dll" Guid="9a086709-4b5d-4711-aec0-9a8a9ba7b886">
        <File Id="src_pepXML.dll" Name="pepXML.dll" Source="$(var.GUI_TargetDir)pepXML.dll" />
      </Component>
      <Component Id="src_Proteomics.dll" Guid="e0bd6f66-afa5-49fa-a17c-2a24164f600d">
        <File Id="src_Proteomics.dll" Name="Proteomics.dll" Source="$(var.GUI_TargetDir)Proteomics.dll" />
      </Component>
      <Component Id="src_SharpLearning.Common.Interfaces.dll" Guid="62b8e7de-7965-4942-9e5b-9449c5ab7deb">
        <File Id="src_SharpLearning.Common.Interfaces.dll" Name="SharpLearning.Common.Interfaces.dll" Source="$(var.GUI_TargetDir)SharpLearning.Common.Interfaces.dll" />
      </Component>
      <Component Id="src_SharpLearning.Containers.dll" Guid="6bdbf050-26d7-4e11-b378-d71055ecba80">
        <File Id="src_SharpLearning.Containers.dll" Name="SharpLearning.Containers.dll" Source="$(var.GUI_TargetDir)SharpLearning.Containers.dll" />
      </Component>
      <Component Id="src_SharpLearning.CrossValidation.dll" Guid="da2245c7-362d-4a90-9408-a671e210896a">
        <File Id="src_SharpLearning.CrossValidation.dll" Name="SharpLearning.CrossValidation.dll" Source="$(var.GUI_TargetDir)SharpLearning.CrossValidation.dll" />
      </Component>
      <Component Id="src_SharpLearning.DecisionTrees.dll" Guid="b3c202a8-795d-4198-b927-0fcd02d8ae05">
        <File Id="src_SharpLearning.DecisionTrees.dll" Name="SharpLearning.DecisionTrees.dll" Source="$(var.GUI_TargetDir)SharpLearning.DecisionTrees.dll" />
      </Component>
      <Component Id="src_SharpLearning.InputOutput.dll" Guid="357e6a45-5852-474d-aceb-e05942958ae6">
        <File Id="src_SharpLearning.InputOutput.dll" Name="SharpLearning.InputOutput.dll" Source="$(var.GUI_TargetDir)SharpLearning.InputOutput.dll" />
      </Component>
      <Component Id="src_SharpLearning.Metrics.dll" Guid="9ec3dd96-8228-49db-98e7-4288845b63a4">
        <File Id="src_SharpLearning.Metrics.dll" Name="SharpLearning.Metrics.dll" Source="$(var.GUI_TargetDir)SharpLearning.Metrics.dll" />
      </Component>
      <Component Id="src_SharpLearning.RandomForest.dll" Guid="f86fdc0c-6a23-4e4f-803b-0012aaa418e7">
        <File Id="src_SharpLearning.RandomForest.dll" Name="SharpLearning.RandomForest.dll" Source="$(var.GUI_TargetDir)SharpLearning.RandomForest.dll" />
      </Component>
      <Component Id="src_SharpLearning.Optimization.dll" Guid="3C9AC945-8AE8-4A81-AC1B-1BE7E6DF6DE0">
        <File Id="src_SharpLearning.Optimization.dll" Name="SharpLearning.Optimization.dll" Source="$(var.GUI_TargetDir)SharpLearning.Optimization.dll" />
      </Component>
      <Component Id="src_SharpLearning.GradientBoost.dll" Guid="F76D5154-5F85-4692-9A6B-B822EA1CB4DE">
        <File Id="src_SharpLearning.GradientBoost.dll" Name="SharpLearning.GradientBoost.dll" Source="$(var.GUI_TargetDir)SharpLearning.GradientBoost.dll" />
      </Component>
      <Component Id="src_Mgf.dll" Guid="B4EB5CEA-CFCA-40C7-A915-DB3B9EF53775">
        <File Id="src_Mgf.dll" Name="Mgf.dll" Source="$(var.GUI_TargetDir)Mgf.dll" />
      </Component>
      <Component Id="src_System.Data.Common.dll" Guid="795499dd-11a0-4132-8e33-c1f64bd11c51">
        <File Id="src_System.Data.Common.dll" Name="System.Data.Common.dll" Source="$(var.GUI_TargetDir)System.Data.Common.dll" />
      </Component>
      <Component Id="src_System.Diagnostics.StackTrace.dll" Guid="727eb4a0-a11d-4948-b8d0-403b96de69c4">
        <File Id="src_System.Diagnostics.StackTrace.dll" Name="System.Diagnostics.StackTrace.dll" Source="$(var.GUI_TargetDir)System.Diagnostics.StackTrace.dll" />
      </Component>
      <Component Id="src_System.Diagnostics.Tracing.dll" Guid="7e43f9df-4a1c-4f02-99f7-d7f5aa8c63f1">
        <File Id="src_System.Diagnostics.Tracing.dll" Name="System.Diagnostics.Tracing.dll" Source="$(var.GUI_TargetDir)System.Diagnostics.Tracing.dll" />
      </Component>
      <Component Id="src_System.Globalization.Extensions.dll" Guid="12b04d22-78d4-4cf3-b2a5-92d2ca9eb504">
        <File Id="src_System.Globalization.Extensions.dll" Name="System.Globalization.Extensions.dll" Source="$(var.GUI_TargetDir)System.Globalization.Extensions.dll" />
      </Component>
      <Component Id="src_System.IO.Compression.dll" Guid="5d786beb-ae3e-4a9e-9496-189ddb307903">
        <File Id="src_System.IO.Compression.dll" Name="System.IO.Compression.dll" Source="$(var.GUI_TargetDir)System.IO.Compression.dll" />
      </Component>
      <Component Id="src_System.Net.Http.dll" Guid="480e547f-a7d7-4f57-a9a3-4ddb448faddf">
        <File Id="src_System.Net.Http.dll" Name="System.Net.Http.dll" Source="$(var.GUI_TargetDir)System.Net.Http.dll" />
      </Component>
      <Component Id="src_System.Net.Sockets.dll" Guid="340d9c4a-dc96-4ddf-8813-d071f92581cb">
        <File Id="src_System.Net.Sockets.dll" Name="System.Net.Sockets.dll" Source="$(var.GUI_TargetDir)System.Net.Sockets.dll" />
      </Component>
      <Component Id="src_System.Runtime.Serialization.Primitives.dll" Guid="561a0d2f-182d-42f4-9e0c-81e4f81650c6">
        <File Id="src_System.Runtime.Serialization.Primitives.dll" Name="System.Runtime.Serialization.Primitives.dll" Source="$(var.GUI_TargetDir)System.Runtime.Serialization.Primitives.dll" />
      </Component>
      <Component Id="src_System.Security.Cryptography.Algorithms.dll" Guid="af07a661-d962-48e2-8ca4-96f40f167ee7">
        <File Id="src_System.Security.Cryptography.Algorithms.dll" Name="System.Security.Cryptography.Algorithms.dll" Source="$(var.GUI_TargetDir)System.Security.Cryptography.Algorithms.dll" />
      </Component>
      <Component Id="src_System.Security.SecureString.dll" Guid="58b65b98-6752-4030-badc-ff30f2d160e3">
        <File Id="src_System.Security.SecureString.dll" Name="System.Security.SecureString.dll" Source="$(var.GUI_TargetDir)System.Security.SecureString.dll" />
      </Component>
      <Component Id="src_System.Threading.Overlapped.dll" Guid="252a5ba3-10e0-41ac-8fb3-af9a955ea71a">
        <File Id="src_System.Threading.Overlapped.dll" Name="System.Threading.Overlapped.dll" Source="$(var.GUI_TargetDir)System.Threading.Overlapped.dll" />
      </Component>
      <Component Id="src_System.Xml.XPath.XDocument.dll" Guid="70f63556-f331-4c08-ac9f-3515dacbf0e9">
        <File Id="src_System.Xml.XPath.XDocument.dll" Name="System.Xml.XPath.XDocument.dll" Source="$(var.GUI_TargetDir)System.Xml.XPath.XDocument.dll" />
      </Component>
      <Component Id="src_OxyPlot.dll" Guid="1B25D408-13DB-4A9E-A49E-B0A7FC8C05A6">
        <File Id="src_OxyPlot.dll" Name="OxyPlot.dll" Source="$(var.GUI_TargetDir)OxyPlot.dll" />
      </Component>
      <Component Id="src_OxyPlot.Wpf.dll" Guid="2052508D-D83C-45D7-8C9C-9211F97A8949">
        <File Id="src_OxyPlot.Wpf.dll" Name="OxyPlot.Wpf.dll" Source="$(var.GUI_TargetDir)OxyPlot.Wpf.dll" />
      </Component>
      <Component Id="src_itextsharp.dll" Guid="C790C1B4-E2BC-4644-8925-6F9CD73E5D75">
        <File Id="src_itextsharp.dll" Name="itextsharp.dll" Source="$(var.GUI_TargetDir)itextsharp.dll" />
      </Component>
      <Component Id="src_ThermoFisher.CommonCore.BackgroundSubtraction.dll" Guid="F3DA60DB-CF5F-4671-9F3C-1033780261DD">
        <File Id="src_ThermoFisher.CommonCore.BackgroundSubtraction.dll" Name="ThermoFisher.CommonCore.BackgroundSubtraction.dll" Source="$(var.GUI_TargetDir)ThermoFisher.CommonCore.BackgroundSubtraction.dll" />
      </Component>
      <Component Id="src_ThermoFisher.CommonCore.Data.dll" Guid="E711A739-AE5D-4DB9-9B14-0E4A8281CD20">
        <File Id="src_ThermoFisher.CommonCore.Data.dll" Name="ThermoFisher.CommonCore.Data.dll" Source="$(var.GUI_TargetDir)ThermoFisher.CommonCore.Data.dll" />
      </Component>
      <Component Id="src_ThermoFisher.CommonCore.MassPrecisionEstimator.dll" Guid="03803256-C0A9-4DE8-9923-574E4BA2DEBA">
        <File Id="src_ThermoFisher.CommonCore.MassPrecisionEstimator.dll" Name="ThermoFisher.CommonCore.MassPrecisionEstimator.dll" Source="$(var.GUI_TargetDir)ThermoFisher.CommonCore.MassPrecisionEstimator.dll" />
      </Component>
      <Component Id="src_ThermoFisher.CommonCore.RawFileReader.dll" Guid="F5EDAA70-06CD-49E7-932F-016C679B07C7">
        <File Id="src_ThermoFisher.CommonCore.RawFileReader.dll" Name="ThermoFisher.CommonCore.RawFileReader.dll" Source="$(var.GUI_TargetDir)ThermoFisher.CommonCore.RawFileReader.dll" />
      </Component>
      <Component Id="src_ThermoRawFileReader.dll" Guid="4BE9A662-4CD1-4E5B-8234-0734036A007E">
        <File Id="src_ThermoRawFileReader.dll" Name="ThermoRawFileReader.dll" Source="$(var.GUI_TargetDir)ThermoRawFileReader.dll" />
      </Component>
      <Component Id="src_BayesianEstimation.dll" Guid="100F4A2E-F4FE-4D25-8C5F-66A7092A2622">
        <File Id="src_BayesianEstimation.dll" Name="BayesianEstimation.dll" Source="$(var.GUI_TargetDir)BayesianEstimation.dll" />
      </Component>
      <Component Id="src_CpuMathNative.dll" Guid="923A8CA0-13DD-4927-A1DB-0D25ECDA2301">
        <File Id="src_CpuMathNative.dll" Name="CpuMathNative.dll" Source="$(var.GUI_TargetDir)CpuMathNative.dll" />
      </Component>
      <Component Id="src_FactorizationMachineNative.dll" Guid="E01CA4BE-EBF8-4736-9399-8B96D97F0D9F">
        <File Id="src_FactorizationMachineNative.dll" Name="FactorizationMachineNative.dll" Source="$(var.GUI_TargetDir)FactorizationMachineNative.dll" />
      </Component>
      <Component Id="src_FastTreeNative.dll" Guid="9BD84084-A541-4489-A801-3677E0FF6FF9">
        <File Id="src_FastTreeNative.dll" Name="FastTreeNative.dll" Source="$(var.GUI_TargetDir)FastTreeNative.dll" />
      </Component>
      <Component Id="src_LdaNative.dll" Guid="8CF2948E-6309-4EFF-B6FF-0C6E8F4C55BE">
        <File Id="src_LdaNative.dll" Name="LdaNative.dll" Source="$(var.GUI_TargetDir)LdaNative.dll" />
      </Component>
      <Component Id="src_Microsoft.ML.Core.dll" Guid="A5B34A93-481B-4B6A-868C-A0DB916CB37C">
        <File Id="src_Microsoft.ML.Core.dll" Name="Microsoft.ML.Core.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.Core.dll" />
      </Component>
      <Component Id="src_Microsoft.ML.CpuMath.dll" Guid="5D8DCF19-98EB-4EF8-B4FF-4B039FB5CE95">
        <File Id="src_Microsoft.ML.CpuMath.dll" Name="Microsoft.ML.CpuMath.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.CpuMath.dll" />
      </Component>
      <Component Id="src_Microsoft.ML.Data.dll" Guid="EF66B298-ED51-4B60-8E9F-1383E9FBA452">
        <File Id="src_Microsoft.ML.Data.dll" Name="Microsoft.ML.Data.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.Data.dll" />
      </Component>
      <Component Id="src_Microsoft.ML.DataView.dll" Guid="E87F47EB-394F-42C3-AFA5-5AEC61E80AE5">
        <File Id="src_Microsoft.ML.DataView.dll" Name="Microsoft.ML.DataView.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.DataView.dll" />
      </Component>
      <Component Id="src_Microsoft.ML.FastTree.dll" Guid="5E607343-B503-4798-A2D0-D3798E3C553A">
        <File Id="src_Microsoft.ML.FastTree.dll" Name="Microsoft.ML.FastTree.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.FastTree.dll" />
      </Component>
      <Component Id="src_Microsoft.ML.KMeansClustering.dll" Guid="830AE3D1-78E3-4C19-90D1-E489FA89AD91">
        <File Id="src_Microsoft.ML.KMeansClustering.dll" Name="Microsoft.ML.KMeansClustering.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.KMeansClustering.dll" />
      </Component>
      <Component Id="src_Microsoft.ML.PCA.dll" Guid="05B84885-9772-4329-B7DC-C53D5CD2ED17">
        <File Id="src_Microsoft.ML.PCA.dll" Name="Microsoft.ML.PCA.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.PCA.dll" />
      </Component>
      <Component Id="src_Microsoft.ML.StandardTrainers.dll" Guid="833E5791-A057-40BC-8208-DEE757A9B873">
        <File Id="src_Microsoft.ML.StandardTrainers.dll" Name="Microsoft.ML.StandardTrainers.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.StandardTrainers.dll" />
      </Component>
      <Component Id="src_Microsoft.ML.Transforms.dll" Guid="9FF08BC2-8F99-4004-A4F0-3BB63014BB21">
        <File Id="src_Microsoft.ML.Transforms.dll" Name="Microsoft.ML.Transforms.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.Transforms.dll" />
      </Component>
      <Component Id="src_System.Buffers.dll" Guid="BA04C412-922F-42E8-8A1D-4D4A2B042DB1">
        <File Id="src_System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.GUI_TargetDir)System.Buffers.dll" />
      </Component>
      <Component Id="src_System.CodeDom.dll" Guid="1C46B1DB-C230-4755-9B6A-0E03E00EB045">
        <File Id="src_System.CodeDom.dll" Name="System.CodeDom.dll" Source="$(var.GUI_TargetDir)System.CodeDom.dll" />
      </Component>
      <Component Id="src_System.Collections.Immutable.dll" Guid="3322225B-6304-4A25-9E59-F6A2369DFFAD">
        <File Id="src_System.Collections.Immutable.dll" Name="System.Collections.Immutable.dll" Source="$(var.GUI_TargetDir)System.Collections.Immutable.dll" />
      </Component>
      <Component Id="src_System.Memory.dll" Guid="8655337B-5E80-44B0-B13A-726CC60F5A19">
        <File Id="src_System.Memory.dll" Name="System.Memory.dll" Source="$(var.GUI_TargetDir)System.Memory.dll" />
      </Component>
      <Component Id="src_System.Numerics.Vectors.dll" Guid="C4E2DA41-67D4-4117-A01E-B5D85752E769">
        <File Id="src_System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="$(var.GUI_TargetDir)System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="src_System.Runtime.CompilerServices.Unsafe.dll" Guid="B129F922-A5FB-4CA2-9D33-C0E24A1EB9FF">
        <File Id="src_System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.GUI_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="src_System.Threading.Tasks.Dataflow.dll" Guid="A34C55EB-6E9B-4BF0-9226-630FBD5732EB">
        <File Id="src_System.Threading.Tasks.Dataflow.dll" Name="System.Threading.Tasks.Dataflow.dll" Source="$(var.GUI_TargetDir)System.Threading.Tasks.Dataflow.dll" />
      </Component>
      <Component Id="src_System.ValueTuple.dll" Guid="8B58D026-8C4C-401D-984D-C12790971FCF">
        <File Id="src_System.ValueTuple.dll" Name="System.ValueTuple.dll" Source="$(var.GUI_TargetDir)System.ValueTuple.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Build the App Mods folder-->
  <Fragment>
    <ComponentGroup Id="Appsrc_Mods_files" Directory="MetaAppModsFolder">
      <Component Id="RemoveMods" Guid="284c0784-2183-4f80-af61-56cadeb800bf">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RemoveFolder Id="MetaAppModsFolder" On="both"/>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

      <!-- aListOfmods.txt -->
      <Component Id="Appsrc_Mods_aListOfmods.txt" Guid="0aa9b5ed-b47d-4a78-93b1-49ebc104d011">
        <File ReadOnly="no" Id="Appsrc_Mods_aListOfmods.txt" Name="aListOfmods.txt" Source="$(var.GUI_TargetDir)Mods\aListOfmods.txt" />
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

      <!-- glyco.txt -->
      <Component Id="Appsrc_Mods_glyco.txt" Guid="1707b26b-070e-46d5-9632-f1bc8bf4d281">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Mods_glyco.txt" Name="glyco.txt" Source="$(var.GUI_TargetDir)Mods\glyco.txt" />
      </Component>

      <!-- Mods.txt -->
      <Component Id="Appsrc_Mods_Mods.txt" Guid="9be193e3-266c-4c1d-9973-341f0a5d108a">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Mods_Mods.txt" Name="Mods.txt" Source="$(var.GUI_TargetDir)Mods\Mods.txt" />
      </Component>

      <!-- substitutions.txt -->
      <Component Id="Appsrc_Mods_substitutions.txt" Guid="f108606b-f9eb-4c3c-893b-7ec33c88a1d1">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Mods_substitutions.txt" Name="substitutions.txt" Source="$(var.GUI_TargetDir)Mods\substitutions.txt" />
      </Component>

      <!-- surfactants.txt -->
      <Component Id="Appsrc_Mods_surfactants.txt" Guid="937d6734-a4c0-469a-b070-64bf5de84b13">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Mods_surfactants.txt" Name="surfactants.txt" Source="$(var.GUI_TargetDir)Mods\surfactants.txt" />
      </Component>

      <!-- tmt.txt -->
      <Component Id="Appsrc_Mods_tmt.txt" Guid="f064b7a0-c650-4a40-8a9f-301cc6cb946e">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Mods_tmt.txt" Name="tmt.txt" Source="$(var.GUI_TargetDir)Mods\tmt.txt" />
      </Component>

    </ComponentGroup>
  </Fragment>

  <!--Builds the App Data folder-->
  <Fragment>
    <ComponentGroup Id="Appsrc_Data_files" Directory="MetaAppDataFolder">
      <Component Id="RemoveData" Guid="80dd5110-5563-499a-93ee-652e351c64f9">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RemoveFolder Id="MetaAppDataFolder" On="both"/>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="Appsrc_Data_combos.txt" Guid="e16d25a3-d773-4a7f-9252-63d737c2c7ba">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Data_combos.txt" Name="combos.txt" Source="$(var.GUI_TargetDir)Data\combos.txt" />
      </Component>
      <Component Id="Appsrc_Data_PSI_MOD.obo.xml" Guid="348109bd-4645-448e-b272-19a126e4c3cf">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Data_PSI_MOD.obo.xml" Name="PSI-MOD.obo.xml" Source="$(var.GUI_TargetDir)Data\PSI-MOD.obo.xml" />
      </Component>
      <Component Id="Appsrc_Data_ptmlist.txt" Guid="ea6237f4-9acd-4660-a4e8-831b7aab8c39">
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <Condition>OVERWRITEAPPDATA</Condition>
        <File ReadOnly="no" Id="Appsrc_Data_ptmlist.txt" Name="ptmlist.txt" Source="$(var.GUI_TargetDir)Data\ptmlist.txt" />
      </Component>
      <Component Id="Appsrc_Data_unimod.xml" Guid="cb7b6d9e-3eb0-47ac-857f-7a0009d95619">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Data_unimod.xml" Name="unimod.xml" Source="$(var.GUI_TargetDir)Data\unimod.xml" />
      </Component>
      <Component Id="Appsrc_Data_elements.dat" Guid="5ba496cc-8b84-4d25-a410-b2274718ebf9">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Data_elements.dat" Name="elements.dat" Source="$(var.GUI_TargetDir)Data\elements.dat" />
      </Component>
      <Component Id="Appsrc_Data_Crosslinkers.tsv" Guid="9F0C2C0A-FF6E-4714-BEF3-3E739B6573D2">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Crosslinkers.tsv" Name="Crosslinkers.tsv" Source="$(var.GUI_TargetDir)Data\Crosslinkers.tsv" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Builds the App ProteolyticDigestion folder-->
  <Fragment>
    <ComponentGroup Id="Appsrc_ProteolyticDigestion_files" Directory="MetaAppProteolyticDigestionFolder">
      <Component Id="RemoveProteolyticDigestion">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RemoveFolder Id="MetaAppProteolyticDigestionFolder" On="both"/>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="Appsrc_ProteolyticDigestion_proteases.tsv" Guid="A3AF0FEB-59EE-4207-9BDB-3B285D1E720E">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_ProteolyticDigestion_proteases.tsv" Name="proteases.tsv" Source="$(var.GUI_TargetDir)ProteolyticDigestion\proteases.tsv" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Builds the App Contaminants folder-->
  <Fragment>
    <ComponentGroup Id="Appsrc_Contaminants_files" Directory="MetaAppContaminantsFolder">
      <Component Id="RemoveContaminants" Guid="D40C37B7-1F04-4DCC-A4AC-46D9F613570A">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RemoveFolder Id="MetaAppContaminantsFolder" On="both"/>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="Appsrc_Contaminants_MPI_Contaminants.fasta" Guid="d840b7a1-dfce-418a-bd4a-f3805625f53d">
        <Condition>OVERWRITEAPPDATA</Condition>
        <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <File ReadOnly="no" Id="Appsrc_Contaminants_MPI_Contaminants.fasta" Name="MPI_Contaminants.fasta" Source="$(var.GUI_TargetDir)Contaminants\MPI_Contaminants.fasta" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ExcelDefaults">
      <Component Id ="ExcelDefault" Directory="ProgramFiles64Folder" Guid="{D6A1CF31-27C8-4DCB-A92F-D36D6EDB7C70}" Permanent="yes">
        <Condition> EXCELDEFAULTPROPERTY</Condition>
        <RemoveRegistryKey Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.tsv"/>
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.tsv\OpenWithList">
          <RegistryValue Name="a" Value="EXCEL.EXE" Type="string"/>
          <RegistryValue Name="MRUList" Value="a" Type="string"/>
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.tsv\OpenWithProgids">
          <RegistryValue Name="tsv_auto_file" Value="0000" Type="binary"/>
        </RegistryKey>
        <RemoveRegistryKey Action="removeOnInstall" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.psmtsv"/>
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.psmtsv\OpenWithList">
          <RegistryValue Name="a" Value="EXCEL.EXE" Type="string"/>
          <RegistryValue Name="MRUList" Value="a" Type="string"/>
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\FileExts\.psmtsv\OpenWithProgids">
          <RegistryValue Name="psmtsv_auto_file" Value="0000" Type="binary"/>
        </RegistryKey>
      </Component>
      <Component Id ="ExcelDefault2" Directory="ProgramFiles64Folder" Guid="{A19A382C-8DD8-4A03-8DE8-66973C197A98}" Permanent="yes">
        <Condition><![CDATA[EXCELSELECT<>"1"]]> </Condition>
        <RemoveRegistryKey Action="removeOnInstall" Root="HKCU" Key="Software\Classes\tsv_auto_file\shell\open\command"/>
        <RegistryKey Root="HKCU" Key="Software\Classes\tsv_auto_file\shell\open\command">
          <RegistryValue Action="write" Value="&quot;[EXCELSELECT]&quot; &quot;%1&quot;" Type="string"/>
        </RegistryKey>
        <RemoveRegistryKey Action="removeOnInstall" Root="HKCU" Key="Software\Classes\psmtsv_auto_file\shell\open\command"/>
        <RegistryKey Root="HKCU" Key="Software\Classes\psmtsv_auto_file\shell\open\command">
          <RegistryValue Action="write" Value="&quot;[EXCELSELECT]&quot; &quot;%1&quot;" Type="string"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--MetaMorpheus Program Menu Folder and Registry Key-->
  <Fragment>
    <Component Id="MetaMorpheusProgramMenuFolderComponent" Directory="MetaMorpheusProgramMenuFolder" Guid="c68bc3b0-cc4f-48ed-9ea0-25dbd7492292">
      <RegistryValue Root="HKCU" Key="Software\SmithGroup\MetaMorpheus" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      <Shortcut Id="AppStartMenuSC"
                Name="MetaMorpheus"
                Description="Shortcut to App"
                Target="[#MetaMorpheusGUI.exe]"
                WorkingDirectory="MetaMorpheusInstallFolder" />
      <Shortcut Id="UninstallProduct"
                Name="Uninstall MetaMorpheus"
                Description="Uninstalls My Application"
                Target="[System64Folder]msiexec.exe"
                Arguments="/x [ProductCode]"/>
      <RemoveFolder Id="MetaMorpheusProgramMenuFolder" On="both"/>
    </Component>
  </Fragment>
</Wix>
