<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.4.3" targetFramework="net461" />
  <package id="FlashLFQ" version="0.1.98" targetFramework="net461" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net451" />
  <package id="mzLib" version="1.0.246" targetFramework="net461" />
  <package id="Nett" version="0.8.0" targetFramework="net451" />
  <package id="Octokit" version="0.27.0" targetFramework="net461" />
  <package id="SharpLearning.AdaBoost" version="0.26.2" targetFramework="net461" />
  <package id="SharpLearning.Common.Interfaces" version="0.26.2" targetFramework="net461" />
  <package id="SharpLearning.Containers" version="0.26.2" targetFramework="net461" />
  <package id="SharpLearning.CrossValidation" version="0.26.2" targetFramework="net461" />
  <package id="SharpLearning.DecisionTrees" version="0.26.2" targetFramework="net461" />
  <package id="SharpLearning.Ensemble" version="0.26.2" targetFramework="net461" />
  <package id="SharpLearning.GradientBoost" version="0.26.2" targetFramework="net461" />
  <package id="SharpLearning.InputOutput" version="0.26.2" targetFramework="net461" />
  <package id="SharpLearning.Metrics" version="0.26.2" targetFramework="net461" />
  <package id="SharpLearning.RandomForest" version="0.26.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>