<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.13" targetFramework="net471" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net471" />
  <package id="MathNet.Numerics.MKL.Win" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.ML" version="1.1.0" targetFramework="net471" />
  <package id="Microsoft.ML.CpuMath" version="1.1.0" targetFramework="net471" />
  <package id="Microsoft.ML.DataView" version="1.1.0" targetFramework="net471" />
  <package id="Microsoft.ML.FastTree" version="1.1.0" targetFramework="net471" />
  <package id="mzLib" version="1.0.454" targetFramework="net471" />
  <package id="Nett" version="0.8.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net471" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net471" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net471" />
  <package id="SharpLearning.Common.Interfaces" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.Containers" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.CrossValidation" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.DecisionTrees" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.GradientBoost" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.InputOutput" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.Metrics" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.Optimization" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.RandomForest" version="0.26.9" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>