<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--Revise the version number here-->
  <Bundle Version="10.2.2" UpgradeCode="ce18fa98-73c8-43de-89ec-7a54696c995c">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
      LicenseUrl=""
      ThemeFile="theme.xml"
      xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" />
    </BootstrapperApplicationRef>
    <util:FileSearch Path="[WindowsFolder]System32\ucrtbase.dll" Variable="VCDISTINSTALLED"/>
    <Chain>
      <MsiPackage DisplayInternalUI='yes' SourceFile="$(var.MetaMorpheusSetup.TargetPath)" />
    </Chain>
  </Bundle>
</Wix>